meeti/

# Dependencias
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Archivos de build
build/
dist/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
