.main {
    min-height: 100vh;
    position: relative;
    background-image: url('../../img/library.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    overflow-y: auto;
}